.navigation {
  font-family: var(--lusitana);
}

.navigation__top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 20px;
}

.navigation__logo {
  max-height: 60px;
  width: auto;
  transition: ease-in-out 300ms;
}

.navigation__elements {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation__recherche {
  display: flex;
  flex-grow: 1;
}

.navigation__recherche form {
  display: flex;
  flex-direction: row;
  background-color: var(--bleu-pale);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navigation__recherche form input {
  flex-grow: 1;
  min-width: 60px;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.navigation__recherche_input {
  font-size: 1rem;
  border: 2px solid var(--bleu-basic);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 10px;
}

.navigation__recherche_input:focus {
  border-color: var(--bleu-fonce);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navigation__recherche-bouton {
  padding: 8px 10px;
  background-color: var(--bleu-basic);
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigation__recherche-bouton:hover,
.navigation__recherche-bouton:focus {
  background-color: var(--bleu-fonce);
  transform: scale(1.05);
}

.navigation__recherche-bouton:active {
  transform: scale(0.98);
}

.navigation__principal,
.navigation__secondaire {
  align-items: flex-start;
  list-style: none;
  display: flex;
  padding: 8px 15px;
  gap: 20px;
}

.navigation__principal {
  gap: 20px;
}

.navigation__secondaire {
  justify-content: end;
  padding: 8px 15px;
  background-color: var(--bleu-basic-transparent);
  gap: 20px;
}

.navigation__element a,
.navigation__element-secondaire a {
  font-weight: 700;
  text-decoration: none;
  color: var(--bleu-fonce);
}

.navigation__element a:hover,
.navigation__element-secondaire a:hover {
  text-decoration: underline;
  color: var(--bleu-basic);
}

.navigation__subcategories {
  list-style: none;
  background-color: var(--bleu-pale);
  border-radius: 8px;
  display: none;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navigation__subcategory {
  position: relative;
  padding: 8px 20px;
}

.navigation__subcategory a {
  color: var(--bleu-fonce);
  text-decoration: none;
  font-weight: 400;
}

.navigation__subcategory a:hover {
  color: var(--bleu-basic);
}

.navigation__element--has-subcategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40px;
}

.navigation__element--has-subcategories:hover .navigation__subcategories {
  display: block;
}

.navigation__element--has-subcategories > a::after {
  content: " ▼";
  transition: transform 0.2s ease;
}

.navigation__element--has-subcategories:hover > a::after {
  content: " ▲";
  transform: rotate(180deg);
}
