.navigation {
  font-family: var(--lusitana);
}

.navigation__top {
  display: grid;
  grid-template-columns: 1fr 20fr 40fr;
  align-items: center;
  padding: 1rem;
}

.navigation__logo {
  max-height: 60px;
  width: auto;
  transition: ease-in-out 300ms;
  justify-self: start;
}

.navigation__recherche {
  display: flex;
  justify-self: center;
}

.navigation__recherche form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--bleu-pale);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 35%;
}

.navigation__recherche_input {
  padding: 7px 30%;
  font-size: 1rem;
  border: 2px solid var(--bleu-basic);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 10px;
}

.navigation__recherche_input:focus {
  border-color: var(--bleu-fonce);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navigation__recherche-bouton {
  padding: 8px 10px;
  background-color: var(--bleu-basic);
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigation__recherche-bouton:hover,
.navigation__recherche-bouton:focus {
  background-color: var(--bleu-fonce);
  transform: scale(1.05);
}

.navigation__recherche-bouton:active {
  transform: scale(0.98);
}

.navigation__principal,
.navigation__secondaire {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__principal {
  display: flex;
  gap: 3rem;
  justify-self: end;
}

.navigation__secondaire {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: end;
  gap: 5%;
  padding: 8px 15px;
  background-color: var(--bleu-basic-transparent);
}

.navigation__element a,
.navigation__element-secondaire a {
  font-weight: 700;
  text-decoration: none;
  color: var(--bleu-fonce);
}

.navigation__element a:hover,
.navigation__element-secondaire a:hover {
  text-decoration: underline;
  color: var(--bleu-basic);
}
